flows_raspberry.json
[
    {
        "disabled": true, 
        "info": "", 
        "type": "tab", 
        "id": "81ad2d46.ce21a", 
        "label": "Flow 1"
    }, 
    {
        "disabled": false, 
        "info": "", 
        "type": "tab", 
        "id": "2b0be5fc.4b9a52", 
        "label": "Pimoroni Dashboard"
    }, 
    {
        "disabled": false, 
        "info": "", 
        "type": "tab", 
        "id": "d0e8580b.6abea8", 
        "label": "Blinkt Device"
    }, 
    {
        "disabled": false, 
        "info": "", 
        "type": "tab", 
        "id": "86ed495b.bf375", 
        "label": "Wemo Devices"
    }, 
    {
        "tls": "", 
        "closeQos": "0", 
        "cleansession": true, 
        "name": "mqtt_sub", 
        "birthPayload": "", 
        "willTopic": "", 
        "willPayload": "", 
        "closePayload": "", 
        "willQos": "0", 
        "broker": "mqtt.newhook.co.uk", 
        "clientid": "", 
        "id": "ed0605a1.842778", 
        "closeTopic": "", 
        "usetls": true, 
        "compatmode": false, 
        "birthTopic": "", 
        "z": "", 
        "type": "mqtt-broker", 
        "port": "8883", 
        "birthQos": "0", 
        "keepalive": "60"
    }, 
    {
        "disp": false, 
        "name": "Home", 
        "width": "6", 
        "tab": "d7edff3c.788ac8", 
        "z": "", 
        "type": "ui_group", 
        "id": "be3dd8d.32ef028"
    }, 
    {
        "disp": false, 
        "name": "IndividualLEDs", 
        "width": "6", 
        "tab": "5759c03c.23b518", 
        "z": "", 
        "type": "ui_group", 
        "id": "a7daa1d3.e84718"
    }, 
    {
        "z": "", 
        "type": "ui_tab", 
        "id": "d7edff3c.788ac8", 
        "icon": "dashboard", 
        "name": "Home"
    }, 
    {
        "z": "", 
        "type": "ui_tab", 
        "id": "5759c03c.23b518", 
        "icon": "dashboard", 
        "name": "Individual LEDs"
    }, 
    {
        "theme": {
            "name": "theme-light", 
            "angularTheme": {
                "warn": "red", 
                "accents": "blue", 
                "primary": "indigo", 
                "background": "grey"
            }, 
            "lightTheme": {
                "default": "#0094CE", 
                "baseColor": "#0094CE", 
                "edited": true, 
                "reset": false, 
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            }, 
            "customTheme": {
                "default": "#4B7930", 
                "baseColor": "#4B7930", 
                "name": "Untitled Theme 1", 
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            }, 
            "themeState": {
                "page-titlebar-backgroundColor": {
                    "edited": false, 
                    "value": "#0094CE"
                }, 
                "page-backgroundColor": {
                    "edited": false, 
                    "value": "#fafafa"
                }, 
                "widget-backgroundColor": {
                    "edited": false, 
                    "value": "#0094ce"
                }, 
                "page-sidebar-backgroundColor": {
                    "edited": false, 
                    "value": "#ffffff"
                }, 
                "widget-textColor": {
                    "edited": false, 
                    "value": "#111111"
                }, 
                "group-backgroundColor": {
                    "edited": false, 
                    "value": "#ffffff"
                }, 
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }, 
                "group-textColor": {
                    "edited": false, 
                    "value": "#1bbfff"
                }, 
                "widget-borderColor": {
                    "edited": false, 
                    "value": "#ffffff"
                }, 
                "group-borderColor": {
                    "edited": false, 
                    "value": "#ffffff"
                }, 
                "base-color": {
                    "default": "#0094CE", 
                    "edited": false, 
                    "value": "#0094CE"
                }
            }, 
            "darkTheme": {
                "default": "#097479", 
                "baseColor": "#097479", 
                "edited": false, 
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            }
        }, 
        "type": "ui_base", 
        "id": "55b9424e.f1ca3c", 
        "site": {
            "lockMenu": "false", 
            "name": "Node-RED Dashboard", 
            "dateFormat": "DD/MM/YYYY", 
            "sizes": {
                "sy": 48, 
                "sx": 48, 
                "px": 0, 
                "py": 0, 
                "gy": 6, 
                "gx": 6, 
                "cy": 6, 
                "cx": 6
            }, 
            "hideToolbar": "false", 
            "allowTempTheme": "true", 
            "allowSwipe": "false"
        }
    }, 
    {
        "tls": "", 
        "closeQos": "0", 
        "cleansession": true, 
        "name": "mqtt_pub", 
        "birthPayload": "", 
        "willTopic": "", 
        "willPayload": "", 
        "closePayload": "", 
        "willQos": "0", 
        "broker": "mqtt.newhook.co.uk", 
        "clientid": "", 
        "id": "9902cac9.331d18", 
        "closeTopic": "", 
        "usetls": true, 
        "compatmode": false, 
        "birthTopic": "", 
        "z": "", 
        "type": "mqtt-broker", 
        "port": "8883", 
        "birthQos": "0", 
        "keepalive": "60"
    }, 
    {
        "wires": [], 
        "complete": false, 
        "y": 257, 
        "active": true, 
        "x": 541, 
        "z": "81ad2d46.ce21a", 
        "type": "debug", 
        "id": "99f66270.6b954", 
        "name": ""
    }, 
    {
        "repeat": "", 
        "name": "", 
        "id": "46a7ecfa.49f4c4", 
        "topic": "", 
        "wires": [
            [
                "548c1b18.676824"
            ]
        ], 
        "y": 257, 
        "x": 141, 
        "z": "81ad2d46.ce21a", 
        "type": "inject", 
        "payload": "", 
        "once": false
    }, 
    {
        "wires": [
            [
                "99f66270.6b954"
            ]
        ], 
        "name": "Format timestamp", 
        "outputs": 1, 
        "func": "// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;", 
        "y": 257, 
        "x": 341, 
        "z": "81ad2d46.ce21a", 
        "type": "function", 
        "id": "548c1b18.676824"
    }, 
    {
        "wires": [
            [
                "97745e74.b2c4f"
            ]
        ], 
        "qos": "2", 
        "name": "blinkt", 
        "broker": "ed0605a1.842778", 
        "topic": "pimoroni/blinkt", 
        "y": 322, 
        "x": 141, 
        "z": "81ad2d46.ce21a", 
        "type": "mqtt in", 
        "id": "2022988a.c08e38"
    }, 
    {
        "wires": [], 
        "console": false, 
        "name": "", 
        "tosidebar": true, 
        "y": 391, 
        "tostatus": false, 
        "active": true, 
        "x": 498, 
        "z": "81ad2d46.ce21a", 
        "type": "debug", 
        "id": "b06e2985.ad1248", 
        "complete": "false"
    }, 
    {
        "wires": [
            [
                "b06e2985.ad1248"
            ]
        ], 
        "name": "count words", 
        "outputs": 1, 
        "noerr": 0, 
        "func": "var outputMsgs = [];\nvar wordMap = {};\nvar sentence = msg.payload.replace(/[.,-\\/#!$%\\^&\\*;:{}=\\-_`~()]/g,\"\");\nsentence = sentence.replace(/\\s{2,}/g,\" \");\nvar words = sentence.split(\" \");\nfor (var i = 0; i < words.length; i++) {\n  var lowerCaseWord = words[i].toLowerCase();\n  if (!wordMap[lowerCaseWord]) {\n    wordMap[lowerCaseWord] = 1;\n  } else {\n    wordMap[lowerCaseWord] = wordMap[lowerCaseWord] + 1;\n  }\n}\nfor (var prop in wordMap) {\n  if( wordMap.hasOwnProperty( prop ) ) {\n    outputMsgs.push({payload:{word:prop,count:wordMap[prop]}});\n  }\n}\nreturn [outputMsgs];", 
        "y": 391, 
        "x": 313, 
        "z": "81ad2d46.ce21a", 
        "type": "function", 
        "id": "97745e74.b2c4f"
    }, 
    {
        "wires": [
            []
        ], 
        "name": "process colour value", 
        "outputs": 1, 
        "noerr": 0, 
        "func": "var colour = msg.payload;\ncolour = colour.replace('rgb(', '');\ncolour = colour.replace(')', '');\nmsg.payload =  colour;\nreturn msg;", 
        "y": 504, 
        "x": 345, 
        "z": "81ad2d46.ce21a", 
        "type": "function", 
        "id": "a806aa9b.90ee28"
    }, 
    {
        "passthru": true, 
        "topic": "colour", 
        "height": 0, 
        "showPicker": true, 
        "group": "be3dd8d.32ef028", 
        "name": "", 
        "format": "rgb", 
        "order": 0, 
        "showAlpha": false, 
        "wires": [
            [
                "589cd315.fede7c"
            ]
        ], 
        "label": "Colour", 
        "showValue": false, 
        "showLightness": false, 
        "width": 0, 
        "showSwatch": false, 
        "x": 230, 
        "y": 200, 
        "outformat": "string", 
        "z": "2b0be5fc.4b9a52", 
        "type": "ui_colour_picker", 
        "id": "637dfb31.7f239c"
    }, 
    {
        "passthru": true, 
        "topic": "numberOfLEDs", 
        "height": 0, 
        "wires": [
            [
                "589cd315.fede7c"
            ]
        ], 
        "group": "be3dd8d.32ef028", 
        "name": "", 
        "min": 0, 
        "max": "8", 
        "label": "Number of LEDs", 
        "order": 0, 
        "width": 0, 
        "step": 1, 
        "y": 254, 
        "x": 200, 
        "z": "2b0be5fc.4b9a52", 
        "type": "ui_slider", 
        "id": "260c247a.75579c"
    }, 
    {
        "wires": [
            [
                "3de25592.fe51ea", 
                "b2693c9b.a7004"
            ]
        ], 
        "name": "Process dashboard input", 
        "outputs": 1, 
        "noerr": 0, 
        "func": "//set the flow variables if colour or numberOfLEDs change\nif (msg.topic == \"numberOfLEDs\"){\n    flow.set(\"numberOfLEDs\", msg.payload);\n}\n\nif (msg.topic == \"colour\"){\n    var colour = msg.payload;\n    colour = colour.replace('rgb(', '');\n    colour = colour.replace(')', '');\n    flow.set(\"colour\", colour);\n}\n\n//set all LEDs to off just before we set them to what we have specified\nfor(var i = 0; i < 8; i++) {\n    msg.topic = \"pixel.\" + i;\n    msg.payload = \"0,0,0\";\n    node.send(msg);\n}\n    \n//set the LED colours \nfor(var i = 0; i < flow.get(\"numberOfLEDs\"); i++) {\n    msg.topic = \"pixel.\" + i;\n    msg.payload = flow.get(\"colour\");\n    node.send(msg);\n}\n\n\n\n\n\n\n", 
        "y": 214, 
        "x": 452.5, 
        "z": "2b0be5fc.4b9a52", 
        "type": "function", 
        "id": "589cd315.fede7c"
    }, 
    {
        "wires": [], 
        "console": false, 
        "name": "Debug", 
        "tosidebar": true, 
        "y": 143, 
        "active": true, 
        "x": 760, 
        "z": "2b0be5fc.4b9a52", 
        "type": "debug", 
        "id": "3de25592.fe51ea", 
        "complete": "true"
    }, 
    {
        "wires": [
            []
        ], 
        "name": "initiate flow variables", 
        "outputs": 1, 
        "noerr": 0, 
        "func": "flow.set(\"numberOfLEDs\", \"0\");\nflow.set(\"colour\", \"255,255,255\");\nreturn msg;", 
        "y": 69, 
        "x": 370, 
        "z": "2b0be5fc.4b9a52", 
        "type": "function", 
        "id": "df4503f5.16c3e"
    }, 
    {
        "repeat": "", 
        "name": "", 
        "crontab": "", 
        "id": "2620f887.e2b0b", 
        "topic": "", 
        "payloadType": "str", 
        "wires": [
            [
                "df4503f5.16c3e"
            ]
        ], 
        "y": 69, 
        "x": 157, 
        "z": "2b0be5fc.4b9a52", 
        "type": "inject", 
        "payload": "start", 
        "once": true
    }, 
    {
        "passthru": true, 
        "topic": "pixel.0", 
        "height": 0, 
        "showPicker": true, 
        "group": "a7daa1d3.e84718", 
        "name": "", 
        "format": "rgb", 
        "order": 0, 
        "showAlpha": false, 
        "wires": [
            [
                "58895df0.163fe4"
            ]
        ], 
        "label": "LED0", 
        "showValue": false, 
        "showLightness": false, 
        "width": 0, 
        "showSwatch": false, 
        "x": 230.5, 
        "y": 370, 
        "outformat": "string", 
        "z": "2b0be5fc.4b9a52", 
        "type": "ui_colour_picker", 
        "id": "40de1cae.6617bc"
    }, 
    {
        "wires": [
            [
                "b2693c9b.a7004"
            ]
        ], 
        "name": "Process colour value", 
        "outputs": 1, 
        "noerr": 0, 
        "func": "var colour = msg.payload;\ncolour = colour.replace('rgb(', '');\ncolour = colour.replace(')', '');\nmsg.payload =  colour;\nreturn msg;\n\n\n\n\n", 
        "y": 371, 
        "x": 466.5, 
        "z": "2b0be5fc.4b9a52", 
        "type": "function", 
        "id": "58895df0.163fe4"
    }, 
    {
        "passthru": true, 
        "topic": "pixel.1", 
        "height": 0, 
        "showPicker": true, 
        "group": "a7daa1d3.e84718", 
        "name": "", 
        "format": "rgb", 
        "order": 0, 
        "showAlpha": false, 
        "wires": [
            [
                "58895df0.163fe4"
            ]
        ], 
        "label": "LED1", 
        "showValue": false, 
        "showLightness": false, 
        "width": 0, 
        "showSwatch": false, 
        "x": 229.5, 
        "y": 414, 
        "outformat": "string", 
        "z": "2b0be5fc.4b9a52", 
        "type": "ui_colour_picker", 
        "id": "10e4b884.a815a7"
    }, 
    {
        "passthru": true, 
        "topic": "pixel.2", 
        "height": 0, 
        "showPicker": true, 
        "group": "a7daa1d3.e84718", 
        "name": "", 
        "format": "rgb", 
        "order": 0, 
        "showAlpha": false, 
        "wires": [
            [
                "58895df0.163fe4"
            ]
        ], 
        "label": "LED2", 
        "showValue": false, 
        "showLightness": false, 
        "width": 0, 
        "showSwatch": false, 
        "x": 228.5, 
        "y": 459, 
        "outformat": "string", 
        "z": "2b0be5fc.4b9a52", 
        "type": "ui_colour_picker", 
        "id": "9ff7f100.d260b"
    }, 
    {
        "passthru": true, 
        "topic": "pixel.3", 
        "height": 0, 
        "showPicker": true, 
        "group": "a7daa1d3.e84718", 
        "name": "", 
        "format": "rgb", 
        "order": 0, 
        "showAlpha": false, 
        "wires": [
            [
                "58895df0.163fe4"
            ]
        ], 
        "label": "LED3", 
        "showValue": false, 
        "showLightness": false, 
        "width": 0, 
        "showSwatch": false, 
        "x": 230.5, 
        "y": 505, 
        "outformat": "string", 
        "z": "2b0be5fc.4b9a52", 
        "type": "ui_colour_picker", 
        "id": "4b994b1f.907c5c"
    }, 
    {
        "passthru": true, 
        "topic": "pixel.4", 
        "height": 0, 
        "showPicker": true, 
        "group": "a7daa1d3.e84718", 
        "name": "", 
        "format": "rgb", 
        "order": 0, 
        "showAlpha": false, 
        "wires": [
            [
                "58895df0.163fe4"
            ]
        ], 
        "label": "LED4", 
        "showValue": false, 
        "showLightness": false, 
        "width": 0, 
        "showSwatch": false, 
        "x": 229.5, 
        "y": 549, 
        "outformat": "string", 
        "z": "2b0be5fc.4b9a52", 
        "type": "ui_colour_picker", 
        "id": "2b6c51b1.b29936"
    }, 
    {
        "passthru": true, 
        "topic": "pixel.5", 
        "height": 0, 
        "showPicker": true, 
        "group": "a7daa1d3.e84718", 
        "name": "", 
        "format": "rgb", 
        "order": 0, 
        "showAlpha": false, 
        "wires": [
            [
                "58895df0.163fe4"
            ]
        ], 
        "label": "LED5", 
        "showValue": false, 
        "showLightness": false, 
        "width": 0, 
        "showSwatch": false, 
        "x": 228.5, 
        "y": 594, 
        "outformat": "string", 
        "z": "2b0be5fc.4b9a52", 
        "type": "ui_colour_picker", 
        "id": "aa3429c6.f05188"
    }, 
    {
        "passthru": true, 
        "topic": "pixel.6", 
        "height": 0, 
        "showPicker": true, 
        "group": "a7daa1d3.e84718", 
        "name": "", 
        "format": "rgb", 
        "order": 0, 
        "showAlpha": false, 
        "wires": [
            [
                "58895df0.163fe4"
            ]
        ], 
        "label": "LED6", 
        "showValue": false, 
        "showLightness": false, 
        "width": 0, 
        "showSwatch": false, 
        "x": 230.5, 
        "y": 638, 
        "outformat": "string", 
        "z": "2b0be5fc.4b9a52", 
        "type": "ui_colour_picker", 
        "id": "a6ec3df3.f45e68"
    }, 
    {
        "passthru": true, 
        "topic": "pixel.7", 
        "height": 0, 
        "showPicker": true, 
        "group": "a7daa1d3.e84718", 
        "name": "", 
        "format": "rgb", 
        "order": 0, 
        "showAlpha": false, 
        "wires": [
            [
                "58895df0.163fe4"
            ]
        ], 
        "label": "LED7", 
        "showValue": false, 
        "showLightness": false, 
        "width": 0, 
        "showSwatch": false, 
        "x": 229.5, 
        "y": 683, 
        "outformat": "string", 
        "z": "2b0be5fc.4b9a52", 
        "type": "ui_colour_picker", 
        "id": "d669065f.699df"
    }, 
    {
        "info": "", 
        "wires": [], 
        "name": "Individual LED Dashboard Page", 
        "y": 329, 
        "x": 152, 
        "z": "2b0be5fc.4b9a52", 
        "type": "comment", 
        "id": "24f39a4a.ccf456"
    }, 
    {
        "info": "", 
        "wires": [], 
        "name": "Group LED Dashboard Page", 
        "y": 157, 
        "x": 159.5, 
        "z": "2b0be5fc.4b9a52", 
        "type": "comment", 
        "id": "9dc3c1e4.50ebc"
    }, 
    {
        "passthru": false, 
        "payloadType": "num", 
        "wires": [
            [
                "fd3d3505.5f44a"
            ]
        ], 
        "group": "be3dd8d.32ef028", 
        "name": "", 
        "bgcolor": "", 
        "color": "", 
        "payload": "1", 
        "label": "Random Colours", 
        "id": "af25f3e.25e0e9", 
        "height": 0, 
        "width": 0, 
        "topic": "", 
        "y": 818.2857546806335, 
        "x": 267.50000762939453, 
        "z": "2b0be5fc.4b9a52", 
        "type": "ui_button", 
        "order": 0, 
        "icon": ""
    }, 
    {
        "passthru": false, 
        "payloadType": "str", 
        "wires": [
            [
                "fd3d3505.5f44a"
            ]
        ], 
        "group": "be3dd8d.32ef028", 
        "name": "", 
        "bgcolor": "", 
        "color": "", 
        "payload": "stop", 
        "label": "Stop Random Colours", 
        "id": "6b26dd6a.c6625c", 
        "height": 0, 
        "width": 0, 
        "topic": "", 
        "y": 859.7143340110779, 
        "x": 276.7857131958008, 
        "z": "2b0be5fc.4b9a52", 
        "type": "ui_button", 
        "order": 0, 
        "icon": ""
    }, 
    {
        "passthru": false, 
        "payloadType": "num", 
        "wires": [
            [
                "87d27ea8.ca9b88"
            ]
        ], 
        "group": "be3dd8d.32ef028", 
        "name": "", 
        "bgcolor": "", 
        "color": "", 
        "payload": "1", 
        "label": "Clear", 
        "id": "2d814876.8e6788", 
        "height": 0, 
        "width": 0, 
        "topic": "", 
        "y": 765.4285888671875, 
        "x": 226.78570556640625, 
        "z": "2b0be5fc.4b9a52", 
        "type": "ui_button", 
        "order": 0, 
        "icon": ""
    }, 
    {
        "wires": [], 
        "qos": "2", 
        "name": "blinkt_pub", 
        "broker": "9902cac9.331d18", 
        "topic": "pimoroni/blinkt", 
        "x": 892.5, 
        "y": 214, 
        "retain": "", 
        "z": "2b0be5fc.4b9a52", 
        "type": "mqtt out", 
        "id": "d2adc147.d5f75"
    }, 
    {
        "wires": [
            [
                "d2adc147.d5f75"
            ]
        ], 
        "name": "collapse topic", 
        "outputs": 1, 
        "noerr": 0, 
        "func": "var pixel = msg.topic;\npixel = pixel.replace('pixel.', '');\nmsg.payload = 'rgb,' + pixel + ',' + msg.payload;\nreturn msg;", 
        "y": 214, 
        "x": 702.5, 
        "z": "2b0be5fc.4b9a52", 
        "type": "function", 
        "id": "b2693c9b.a7004"
    }, 
    {
        "wires": [
            [
                "d2adc147.d5f75"
            ]
        ], 
        "name": "add topic", 
        "outputs": 1, 
        "noerr": 0, 
        "func": "msg.payload = 'random,' + msg.payload;\nreturn msg;", 
        "y": 734, 
        "x": 642.5, 
        "z": "2b0be5fc.4b9a52", 
        "type": "function", 
        "id": "fd3d3505.5f44a"
    }, 
    {
        "wires": [], 
        "name": "", 
        "y": 120, 
        "x": 810, 
        "z": "d0e8580b.6abea8", 
        "type": "rpi-blinkt out", 
        "id": "11967289.30bded"
    }, 
    {
        "inte": "true", 
        "wires": [
            [
                "dc9b7390.ac885"
            ]
        ], 
        "name": "Random LED", 
        "high": "7", 
        "low": "0", 
        "y": 288.4286050796509, 
        "x": 377.2142868041992, 
        "z": "d0e8580b.6abea8", 
        "type": "random", 
        "id": "6cead475.02fe6c"
    }, 
    {
        "inte": "true", 
        "wires": [
            [
                "2da9f610.4b6e9a"
            ]
        ], 
        "name": "Random Red value", 
        "high": "255", 
        "low": "1", 
        "y": 357.42860889434814, 
        "x": 588.9285125732422, 
        "z": "d0e8580b.6abea8", 
        "type": "random", 
        "id": "2355d16.5fc902e"
    }, 
    {
        "inte": "true", 
        "wires": [
            [
                "ab7280ea.5bcc98"
            ]
        ], 
        "name": "Random Green value", 
        "high": "255", 
        "low": "1", 
        "y": 411.4285888671875, 
        "x": 599.8571014404297, 
        "z": "d0e8580b.6abea8", 
        "type": "random", 
        "id": "5e4be5bf.88aeec"
    }, 
    {
        "inte": "true", 
        "wires": [
            [
                "954dea8d.32f728"
            ]
        ], 
        "name": "Random Blue value", 
        "high": "255", 
        "low": "1", 
        "y": 455.4285888671875, 
        "x": 592.8571014404297, 
        "z": "d0e8580b.6abea8", 
        "type": "random", 
        "id": "1abacc5e.b33184"
    }, 
    {
        "wires": [
            [
                "2355d16.5fc902e"
            ]
        ], 
        "name": "set topic", 
        "outputs": 1, 
        "noerr": 0, 
        "func": "msg.topic = \"pixel.\" + msg.payload;\nreturn msg;", 
        "y": 358.4285888671875, 
        "x": 371.3571014404297, 
        "z": "d0e8580b.6abea8", 
        "type": "function", 
        "id": "dc9b7390.ac885"
    }, 
    {
        "wires": [
            [
                "5e4be5bf.88aeec"
            ]
        ], 
        "name": "set Red value", 
        "outputs": 1, 
        "noerr": 0, 
        "func": "msg.red = msg.payload;\nreturn msg;", 
        "y": 411.4285888671875, 
        "x": 395.8571014404297, 
        "z": "d0e8580b.6abea8", 
        "type": "function", 
        "id": "2da9f610.4b6e9a"
    }, 
    {
        "wires": [
            [
                "1abacc5e.b33184"
            ]
        ], 
        "name": "set Green value", 
        "outputs": 1, 
        "noerr": 0, 
        "func": "msg.green = msg.payload;\nreturn msg;", 
        "y": 457.4285888671875, 
        "x": 397.8571014404297, 
        "z": "d0e8580b.6abea8", 
        "type": "function", 
        "id": "ab7280ea.5bcc98"
    }, 
    {
        "wires": [
            [
                "5b33d7c0.d80398"
            ]
        ], 
        "name": "set Blue value", 
        "outputs": 1, 
        "noerr": 0, 
        "func": "msg.blue = msg.payload;\nreturn msg;", 
        "y": 502.4285888671875, 
        "x": 398.8571014404297, 
        "z": "d0e8580b.6abea8", 
        "type": "function", 
        "id": "954dea8d.32f728"
    }, 
    {
        "wires": [
            [
                "3bf20285.cc4e86"
            ]
        ], 
        "name": "Assemble Blink input", 
        "outputs": 1, 
        "noerr": 0, 
        "func": "msg.payload = msg.red + \",\" + msg.green + \",\" + msg.blue;\nreturn msg;", 
        "y": 500, 
        "x": 600, 
        "z": "d0e8580b.6abea8", 
        "type": "function", 
        "id": "5b33d7c0.d80398"
    }, 
    {
        "wires": [
            [
                "6cead475.02fe6c"
            ], 
            []
        ], 
        "y": 200, 
        "name": "", 
        "maxtimeout": "1", 
        "maxloops": "18000", 
        "units": "Second", 
        "duration": "0.2", 
        "x": 570, 
        "z": "d0e8580b.6abea8", 
        "type": "looptimer", 
        "id": "c0c18636.10d038", 
        "maxtimeoutunits": "Hour"
    }, 
    {
        "wires": [
            [
                "2b2e8df1.1b96c2", 
                "2d531216.15c716"
            ]
        ], 
        "qos": "2", 
        "name": "blinkt_sub", 
        "broker": "ed0605a1.842778", 
        "topic": "pimoroni/blinkt", 
        "y": 140, 
        "x": 80, 
        "z": "d0e8580b.6abea8", 
        "type": "mqtt in", 
        "id": "70621c7.a975de4"
    }, 
    {
        "wires": [], 
        "console": false, 
        "name": "", 
        "tosidebar": true, 
        "y": 40, 
        "tostatus": false, 
        "active": true, 
        "x": 290, 
        "z": "d0e8580b.6abea8", 
        "type": "debug", 
        "id": "2d531216.15c716", 
        "complete": "false"
    }, 
    {
        "wires": [
            [
                "3bf20285.cc4e86"
            ]
        ], 
        "name": "process pixel", 
        "outputs": 1, 
        "noerr": 0, 
        "func": "var array = msg.payload.split(',');\npixel = 'pixel.' + array[1];\ncolour = array[2] + ',' + array[3] + ',' + array[4];\nmsg.topic = pixel;\nmsg.payload =  colour;\nreturn msg;", 
        "y": 100, 
        "x": 370, 
        "z": "d0e8580b.6abea8", 
        "type": "function", 
        "id": "4d36a80a.b4cb2"
    }, 
    {
        "checkall": "true", 
        "z": "d0e8580b.6abea8", 
        "name": "switch", 
        "repair": false, 
        "rules": [
            {
                "case": false, 
                "vt": "str", 
                "t": "regex", 
                "v": "rgb,"
            }, 
            {
                "vt": "str", 
                "t": "eq", 
                "v": "clr"
            }, 
            {
                "case": false, 
                "vt": "str", 
                "t": "regex", 
                "v": "random,"
            }
        ], 
        "outputs": 3, 
        "wires": [
            [
                "4d36a80a.b4cb2"
            ], 
            [
                "cd3c831b.9ba7b"
            ], 
            [
                "e18e2680.c35b58"
            ]
        ], 
        "propertyType": "msg", 
        "y": 140, 
        "x": 210, 
        "property": "payload", 
        "type": "switch", 
        "id": "2b2e8df1.1b96c2"
    }, 
    {
        "wires": [
            [
                "c0c18636.10d038"
            ]
        ], 
        "name": "process random", 
        "outputs": 1, 
        "noerr": 0, 
        "func": "var array = msg.payload.split(',');\nmsg.payload =  array[1];\nreturn msg;", 
        "y": 200, 
        "x": 380, 
        "z": "d0e8580b.6abea8", 
        "type": "function", 
        "id": "e18e2680.c35b58"
    }, 
    {
        "wires": [
            [
                "11967289.30bded"
            ]
        ], 
        "name": "set all to 0", 
        "outputs": 1, 
        "noerr": 0, 
        "func": "//set all LEDs to off\nfor(var i = 0; i < 8; i++) {\n    msg.topic = \"pixel.\" + i;\n    msg.payload = \"0,0,0\";\n    node.send(msg);\n}\n", 
        "y": 140, 
        "x": 370, 
        "z": "d0e8580b.6abea8", 
        "type": "function", 
        "id": "cd3c831b.9ba7b"
    }, 
    {
        "wires": [
            [
                "d2adc147.d5f75"
            ]
        ], 
        "name": "send clr", 
        "outputs": 1, 
        "noerr": 0, 
        "func": "msg.payload = 'clr';\nreturn msg;", 
        "y": 620, 
        "x": 490, 
        "z": "2b0be5fc.4b9a52", 
        "type": "function", 
        "id": "87d27ea8.ca9b88"
    }, 
    {
        "wires": [
            [
                "11967289.30bded"
            ]
        ], 
        "name": "saturate", 
        "outputs": 1, 
        "noerr": 0, 
        "func": "var array = msg.payload.split(',');\nvar rgb = [];\nvar s = 1;\nrgb.push(Number(array[0]));\nrgb.push(Number(array[1]));\nrgb.push(Number(array[2]));\n    var min = rgb.indexOf(Math.min.apply(null, rgb)), // index of min\n        max = rgb.indexOf(Math.max.apply(null, rgb)), // index of max\n        mid = [0, 1, 2].filter(function (i) {return i !== min && i !== max;})[0],\n        a = rgb[max] - rgb[min],\n        b = rgb[mid] - rgb[min],\n        x = rgb[max],\n        arr = [x, x, x];\n    if (min === max) {\n        min = 2; // both max = min = 0, => mid = 1, so set min = 2\n        a = 1;   // also means a = b = 0, don't want division by 0 in `b / a`\n    }\n\n    arr[max] = x;\n    arr[min] = Math.round(x * (1 - s));\n    arr[mid] = Math.round(x * ((1 - s) + s * b / a));\nmsg.payload = arr.join();\nreturn msg;", 
        "y": 280, 
        "x": 800, 
        "z": "d0e8580b.6abea8", 
        "type": "function", 
        "id": "3bf20285.cc4e86"
    }, 
    {
        "wires": [
            [
                "c81af31b.700c2", 
                "b6c63d93.4d7a68"
            ]
        ], 
        "name": "Red Light", 
        "onTopic": "pixel.0", 
        "onPayload": "255,0,0", 
        "port": "8080", 
        "y": 120, 
        "offTopic": "pixel.0", 
        "offPayload": "0,0,0", 
        "friendlyName": "Red Light", 
        "x": 140, 
        "serial": "0", 
        "z": "86ed495b.bf375", 
        "type": "wemo-emulator", 
        "id": "467d7438.f3eabc"
    }, 
    {
        "wires": [], 
        "console": false, 
        "name": "echo", 
        "tosidebar": true, 
        "y": 60, 
        "tostatus": false, 
        "active": true, 
        "x": 310, 
        "z": "86ed495b.bf375", 
        "type": "debug", 
        "id": "c81af31b.700c2", 
        "complete": "payload"
    }, 
    {
        "wires": [], 
        "name": "", 
        "y": 120, 
        "x": 480, 
        "z": "86ed495b.bf375", 
        "type": "rpi-blinkt out", 
        "id": "b6c63d93.4d7a68"
    }, 
    {
        "wires": [
            [
                "c81af31b.700c2", 
                "b6c63d93.4d7a68"
            ]
        ], 
        "name": "Orange Light", 
        "onTopic": "pixel.1", 
        "onPayload": "255,127,0", 
        "port": "8081", 
        "y": 180, 
        "offTopic": "pixel.1", 
        "offPayload": "0,0,0", 
        "friendlyName": "Orange Light", 
        "x": 150, 
        "serial": "8081", 
        "z": "86ed495b.bf375", 
        "type": "wemo-emulator", 
        "id": "71ac7aef.30d6c4"
    }, 
    {
        "wires": [
            [
                "b6c63d93.4d7a68"
            ]
        ], 
        "name": "Yellow Light", 
        "onTopic": "pixel.2", 
        "onPayload": "255,255,0", 
        "port": "8082", 
        "y": 240, 
        "offTopic": "pixel.2", 
        "offPayload": "0,0,0", 
        "friendlyName": "Yellow Light", 
        "x": 150, 
        "serial": "8082", 
        "z": "86ed495b.bf375", 
        "type": "wemo-emulator", 
        "id": "1efa2c63.672b44"
    }
]
