flows_raspberry.json
[{"id":"81ad2d46.ce21a","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"2b0be5fc.4b9a52","type":"tab","label":"Pimoroni Dashboard","disabled":false,"info":""},{"id":"d0e8580b.6abea8","type":"tab","label":"Blinkt Device","disabled":false,"info":""},{"id":"ed0605a1.842778","type":"mqtt-broker","z":"","name":"mqtt_sub","broker":"mqtt.newhook.co.uk","port":"8883","tls":"","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"be3dd8d.32ef028","type":"ui_group","z":"","name":"Home","tab":"d7edff3c.788ac8","disp":false,"width":"6"},{"id":"a7daa1d3.e84718","type":"ui_group","z":"","name":"IndividualLEDs","tab":"5759c03c.23b518","disp":false,"width":"6"},{"id":"d7edff3c.788ac8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"5759c03c.23b518","type":"ui_tab","z":"","name":"Individual LEDs","icon":"dashboard"},{"id":"55b9424e.f1ca3c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9902cac9.331d18","type":"mqtt-broker","z":"","name":"mqtt_pub","broker":"mqtt.newhook.co.uk","port":"8883","tls":"","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"99f66270.6b954","type":"debug","z":"81ad2d46.ce21a","name":"","active":true,"complete":false,"x":541,"y":257,"wires":[]},{"id":"46a7ecfa.49f4c4","type":"inject","z":"81ad2d46.ce21a","name":"","topic":"","payload":"","repeat":"","once":false,"x":141,"y":257,"wires":[["548c1b18.676824"]]},{"id":"548c1b18.676824","type":"function","z":"81ad2d46.ce21a","name":"Format timestamp","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"x":341,"y":257,"wires":[["99f66270.6b954"]]},{"id":"2022988a.c08e38","type":"mqtt in","z":"81ad2d46.ce21a","name":"blinkt","topic":"pimoroni/blinkt","qos":"2","broker":"ed0605a1.842778","x":141,"y":322,"wires":[["97745e74.b2c4f"]]},{"id":"b06e2985.ad1248","type":"debug","z":"81ad2d46.ce21a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":498,"y":391,"wires":[]},{"id":"97745e74.b2c4f","type":"function","z":"81ad2d46.ce21a","name":"count words","func":"var outputMsgs = [];\nvar wordMap = {};\nvar sentence = msg.payload.replace(/[.,-\\/#!$%\\^&\\*;:{}=\\-_`~()]/g,\"\");\nsentence = sentence.replace(/\\s{2,}/g,\" \");\nvar words = sentence.split(\" \");\nfor (var i = 0; i < words.length; i++) {\n  var lowerCaseWord = words[i].toLowerCase();\n  if (!wordMap[lowerCaseWord]) {\n    wordMap[lowerCaseWord] = 1;\n  } else {\n    wordMap[lowerCaseWord] = wordMap[lowerCaseWord] + 1;\n  }\n}\nfor (var prop in wordMap) {\n  if( wordMap.hasOwnProperty( prop ) ) {\n    outputMsgs.push({payload:{word:prop,count:wordMap[prop]}});\n  }\n}\nreturn [outputMsgs];","outputs":1,"noerr":0,"x":313,"y":391,"wires":[["b06e2985.ad1248"]]},{"id":"a806aa9b.90ee28","type":"function","z":"81ad2d46.ce21a","name":"process colour value","func":"var colour = msg.payload;\ncolour = colour.replace('rgb(', '');\ncolour = colour.replace(')', '');\nmsg.payload =  colour;\nreturn msg;","outputs":1,"noerr":0,"x":345,"y":504,"wires":[[]]},{"id":"637dfb31.7f239c","type":"ui_colour_picker","z":"2b0be5fc.4b9a52","name":"","label":"Colour","group":"be3dd8d.32ef028","format":"rgb","outformat":"string","showSwatch":false,"showPicker":true,"showValue":false,"showAlpha":false,"showLightness":false,"order":0,"width":0,"height":0,"passthru":true,"topic":"colour","x":230,"y":200,"wires":[["589cd315.fede7c"]]},{"id":"260c247a.75579c","type":"ui_slider","z":"2b0be5fc.4b9a52","name":"","label":"Number of LEDs","group":"be3dd8d.32ef028","order":0,"width":0,"height":0,"passthru":true,"topic":"numberOfLEDs","min":0,"max":"8","step":1,"x":200,"y":254,"wires":[["589cd315.fede7c"]]},{"id":"589cd315.fede7c","type":"function","z":"2b0be5fc.4b9a52","name":"Process dashboard input","func":"//set the flow variables if colour or numberOfLEDs change\nif (msg.topic == \"numberOfLEDs\"){\n    flow.set(\"numberOfLEDs\", msg.payload);\n}\n\nif (msg.topic == \"colour\"){\n    var colour = msg.payload;\n    colour = colour.replace('rgb(', '');\n    colour = colour.replace(')', '');\n    flow.set(\"colour\", colour);\n}\n\n//set all LEDs to off just before we set them to what we have specified\nfor(var i = 0; i < 8; i++) {\n    msg.topic = \"pixel.\" + i;\n    msg.payload = \"0,0,0\";\n    node.send(msg);\n}\n    \n//set the LED colours \nfor(var i = 0; i < flow.get(\"numberOfLEDs\"); i++) {\n    msg.topic = \"pixel.\" + i;\n    msg.payload = flow.get(\"colour\");\n    node.send(msg);\n}\n\n\n\n\n\n\n","outputs":1,"noerr":0,"x":452.5,"y":214,"wires":[["3de25592.fe51ea","b2693c9b.a7004"]]},{"id":"3de25592.fe51ea","type":"debug","z":"2b0be5fc.4b9a52","name":"Debug","active":true,"tosidebar":true,"console":false,"complete":"true","x":760,"y":143,"wires":[]},{"id":"df4503f5.16c3e","type":"function","z":"2b0be5fc.4b9a52","name":"initiate flow variables","func":"flow.set(\"numberOfLEDs\", \"0\");\nflow.set(\"colour\", \"255,255,255\");\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":69,"wires":[[]]},{"id":"2620f887.e2b0b","type":"inject","z":"2b0be5fc.4b9a52","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":true,"x":157,"y":69,"wires":[["df4503f5.16c3e"]]},{"id":"40de1cae.6617bc","type":"ui_colour_picker","z":"2b0be5fc.4b9a52","name":"","label":"LED0","group":"a7daa1d3.e84718","format":"rgb","outformat":"string","showSwatch":false,"showPicker":true,"showValue":false,"showAlpha":false,"showLightness":false,"order":0,"width":0,"height":0,"passthru":true,"topic":"pixel.0","x":230.5,"y":370,"wires":[["58895df0.163fe4"]]},{"id":"58895df0.163fe4","type":"function","z":"2b0be5fc.4b9a52","name":"Process colour value","func":"var colour = msg.payload;\ncolour = colour.replace('rgb(', '');\ncolour = colour.replace(')', '');\nmsg.payload =  colour;\nreturn msg;\n\n\n\n\n","outputs":1,"noerr":0,"x":466.5,"y":371,"wires":[["b2693c9b.a7004"]]},{"id":"10e4b884.a815a7","type":"ui_colour_picker","z":"2b0be5fc.4b9a52","name":"","label":"LED1","group":"a7daa1d3.e84718","format":"rgb","outformat":"string","showSwatch":false,"showPicker":true,"showValue":false,"showAlpha":false,"showLightness":false,"order":0,"width":0,"height":0,"passthru":true,"topic":"pixel.1","x":229.5,"y":414,"wires":[["58895df0.163fe4"]]},{"id":"9ff7f100.d260b","type":"ui_colour_picker","z":"2b0be5fc.4b9a52","name":"","label":"LED2","group":"a7daa1d3.e84718","format":"rgb","outformat":"string","showSwatch":false,"showPicker":true,"showValue":false,"showAlpha":false,"showLightness":false,"order":0,"width":0,"height":0,"passthru":true,"topic":"pixel.2","x":228.5,"y":459,"wires":[["58895df0.163fe4"]]},{"id":"4b994b1f.907c5c","type":"ui_colour_picker","z":"2b0be5fc.4b9a52","name":"","label":"LED3","group":"a7daa1d3.e84718","format":"rgb","outformat":"string","showSwatch":false,"showPicker":true,"showValue":false,"showAlpha":false,"showLightness":false,"order":0,"width":0,"height":0,"passthru":true,"topic":"pixel.3","x":230.5,"y":505,"wires":[["58895df0.163fe4"]]},{"id":"2b6c51b1.b29936","type":"ui_colour_picker","z":"2b0be5fc.4b9a52","name":"","label":"LED4","group":"a7daa1d3.e84718","format":"rgb","outformat":"string","showSwatch":false,"showPicker":true,"showValue":false,"showAlpha":false,"showLightness":false,"order":0,"width":0,"height":0,"passthru":true,"topic":"pixel.4","x":229.5,"y":549,"wires":[["58895df0.163fe4"]]},{"id":"aa3429c6.f05188","type":"ui_colour_picker","z":"2b0be5fc.4b9a52","name":"","label":"LED5","group":"a7daa1d3.e84718","format":"rgb","outformat":"string","showSwatch":false,"showPicker":true,"showValue":false,"showAlpha":false,"showLightness":false,"order":0,"width":0,"height":0,"passthru":true,"topic":"pixel.5","x":228.5,"y":594,"wires":[["58895df0.163fe4"]]},{"id":"a6ec3df3.f45e68","type":"ui_colour_picker","z":"2b0be5fc.4b9a52","name":"","label":"LED6","group":"a7daa1d3.e84718","format":"rgb","outformat":"string","showSwatch":false,"showPicker":true,"showValue":false,"showAlpha":false,"showLightness":false,"order":0,"width":0,"height":0,"passthru":true,"topic":"pixel.6","x":230.5,"y":638,"wires":[["58895df0.163fe4"]]},{"id":"d669065f.699df","type":"ui_colour_picker","z":"2b0be5fc.4b9a52","name":"","label":"LED7","group":"a7daa1d3.e84718","format":"rgb","outformat":"string","showSwatch":false,"showPicker":true,"showValue":false,"showAlpha":false,"showLightness":false,"order":0,"width":0,"height":0,"passthru":true,"topic":"pixel.7","x":229.5,"y":683,"wires":[["58895df0.163fe4"]]},{"id":"24f39a4a.ccf456","type":"comment","z":"2b0be5fc.4b9a52","name":"Individual LED Dashboard Page","info":"","x":152,"y":329,"wires":[]},{"id":"9dc3c1e4.50ebc","type":"comment","z":"2b0be5fc.4b9a52","name":"Group LED Dashboard Page","info":"","x":159.5,"y":157,"wires":[]},{"id":"af25f3e.25e0e9","type":"ui_button","z":"2b0be5fc.4b9a52","name":"","group":"be3dd8d.32ef028","order":0,"width":0,"height":0,"passthru":false,"label":"Random Colours","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":267.50000762939453,"y":818.2857546806335,"wires":[["fd3d3505.5f44a"]]},{"id":"6b26dd6a.c6625c","type":"ui_button","z":"2b0be5fc.4b9a52","name":"","group":"be3dd8d.32ef028","order":0,"width":0,"height":0,"passthru":false,"label":"Stop Random Colours","color":"","bgcolor":"","icon":"","payload":"stop","payloadType":"str","topic":"","x":276.7857131958008,"y":859.7143340110779,"wires":[["fd3d3505.5f44a"]]},{"id":"2d814876.8e6788","type":"ui_button","z":"2b0be5fc.4b9a52","name":"","group":"be3dd8d.32ef028","order":0,"width":0,"height":0,"passthru":false,"label":"Clear","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":226.78570556640625,"y":765.4285888671875,"wires":[["52b2789f.44fe3"]]},{"id":"52b2789f.44fe3","type":"function","z":"2b0be5fc.4b9a52","name":"set all to 0","func":"//set all LEDs to off\nfor(var i = 0; i < 8; i++) {\n    msg.topic = \"pixel.\" + i;\n    msg.payload = \"0,0,0\";\n    node.send(msg);\n}\n","outputs":1,"noerr":0,"x":457.49999999999994,"y":766.8571428571428,"wires":[["b2693c9b.a7004"]]},{"id":"d2adc147.d5f75","type":"mqtt out","z":"2b0be5fc.4b9a52","name":"blinkt_pub","topic":"pimoroni/blinkt","qos":"2","retain":"","broker":"9902cac9.331d18","x":892.5,"y":214,"wires":[]},{"id":"b2693c9b.a7004","type":"function","z":"2b0be5fc.4b9a52","name":"collapse topic","func":"var pixel = msg.topic;\npixel = pixel.replace('pixel.', '');\nmsg.payload = 'rgb,' + pixel + ',' + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":702.5,"y":214,"wires":[["d2adc147.d5f75"]]},{"id":"fd3d3505.5f44a","type":"function","z":"2b0be5fc.4b9a52","name":"add topic","func":"msg.payload = 'random,' + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":642.5,"y":734,"wires":[["d2adc147.d5f75"]]},{"id":"11967289.30bded","type":"rpi-blinkt out","z":"d0e8580b.6abea8","name":"","x":910,"y":160,"wires":[]},{"id":"6cead475.02fe6c","type":"random","z":"d0e8580b.6abea8","name":"Random LED","low":"0","high":"7","inte":"true","x":377.2142868041992,"y":288.4286050796509,"wires":[["dc9b7390.ac885"]]},{"id":"2355d16.5fc902e","type":"random","z":"d0e8580b.6abea8","name":"Random Red value","low":"1","high":"255","inte":"true","x":588.9285125732422,"y":357.42860889434814,"wires":[["2da9f610.4b6e9a"]]},{"id":"5e4be5bf.88aeec","type":"random","z":"d0e8580b.6abea8","name":"Random Green value","low":"1","high":"255","inte":"true","x":599.8571014404297,"y":411.4285888671875,"wires":[["ab7280ea.5bcc98"]]},{"id":"1abacc5e.b33184","type":"random","z":"d0e8580b.6abea8","name":"Random Blue value","low":"1","high":"255","inte":"true","x":592.8571014404297,"y":455.4285888671875,"wires":[["954dea8d.32f728"]]},{"id":"dc9b7390.ac885","type":"function","z":"d0e8580b.6abea8","name":"set topic","func":"msg.topic = \"pixel.\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":371.3571014404297,"y":358.4285888671875,"wires":[["2355d16.5fc902e"]]},{"id":"2da9f610.4b6e9a","type":"function","z":"d0e8580b.6abea8","name":"set Red value","func":"msg.red = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":395.8571014404297,"y":411.4285888671875,"wires":[["5e4be5bf.88aeec"]]},{"id":"ab7280ea.5bcc98","type":"function","z":"d0e8580b.6abea8","name":"set Green value","func":"msg.green = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":397.8571014404297,"y":457.4285888671875,"wires":[["1abacc5e.b33184"]]},{"id":"954dea8d.32f728","type":"function","z":"d0e8580b.6abea8","name":"set Blue value","func":"msg.blue = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":398.8571014404297,"y":502.4285888671875,"wires":[["5b33d7c0.d80398"]]},{"id":"5b33d7c0.d80398","type":"function","z":"d0e8580b.6abea8","name":"Assemble Blink input","func":"msg.payload = msg.red + \",\" + msg.green + \",\" + msg.blue;\nreturn msg;","outputs":1,"noerr":0,"x":671.4999542236328,"y":502.0001392364502,"wires":[["11967289.30bded"]]},{"id":"c0c18636.10d038","type":"looptimer","z":"d0e8580b.6abea8","duration":"0.2","units":"Second","maxloops":"18000","maxtimeout":"1","maxtimeoutunits":"Hour","name":"","x":570,"y":200,"wires":[["6cead475.02fe6c"],[]]},{"id":"70621c7.a975de4","type":"mqtt in","z":"d0e8580b.6abea8","name":"blinkt_sub","topic":"pimoroni/blinkt","qos":"2","broker":"ed0605a1.842778","x":80,"y":140,"wires":[["2b2e8df1.1b96c2"]]},{"id":"2d531216.15c716","type":"debug","z":"d0e8580b.6abea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":60,"wires":[]},{"id":"4d36a80a.b4cb2","type":"function","z":"d0e8580b.6abea8","name":"process pixel","func":"var array = msg.payload.split(',');\npixel = 'pixel.' + array[1];\ncolour = array[2] + ',' + array[3] + ',' + array[4];\nmsg.topic = pixel;\nmsg.payload =  colour;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":100,"wires":[["2d531216.15c716","11967289.30bded"]]},{"id":"2b2e8df1.1b96c2","type":"switch","z":"d0e8580b.6abea8","name":"switch","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"rgb,","vt":"str","case":false},{"t":"regex","v":"random,","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":140,"wires":[["4d36a80a.b4cb2"],["e18e2680.c35b58"]]},{"id":"e18e2680.c35b58","type":"function","z":"d0e8580b.6abea8","name":"process random","func":"var array = msg.payload.split(',');\nmsg.payload =  array[1];\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":200,"wires":[["2d531216.15c716","c0c18636.10d038"]]}]