flows_raspberry.json
[{"id":"81ad2d46.ce21a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ed0605a1.842778","type":"mqtt-broker","z":"","name":"mqtt.newhook.co.uk","broker":"mqtt.newhook.co.uk","port":"8883","tls":"","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"99f66270.6b954","type":"debug","z":"81ad2d46.ce21a","name":"","active":true,"complete":false,"x":541,"y":257,"wires":[]},{"id":"46a7ecfa.49f4c4","type":"inject","z":"81ad2d46.ce21a","name":"","topic":"","payload":"","repeat":"","once":false,"x":141,"y":257,"wires":[["548c1b18.676824"]]},{"id":"548c1b18.676824","type":"function","z":"81ad2d46.ce21a","name":"Format timestamp","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"x":341,"y":257,"wires":[["99f66270.6b954"]]},{"id":"2022988a.c08e38","type":"mqtt in","z":"81ad2d46.ce21a","name":"blinkt","topic":"pimoroni/blinkt","qos":"2","broker":"ed0605a1.842778","x":141,"y":322,"wires":[["97745e74.b2c4f"]]},{"id":"b06e2985.ad1248","type":"debug","z":"81ad2d46.ce21a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":498,"y":391,"wires":[]},{"id":"97745e74.b2c4f","type":"function","z":"81ad2d46.ce21a","name":"count words","func":"var outputMsgs = [];\nvar wordMap = {};\nvar sentence = msg.payload.replace(/[.,-\\/#!$%\\^&\\*;:{}=\\-_`~()]/g,\"\");\nsentence = sentence.replace(/\\s{2,}/g,\" \");\nvar words = sentence.split(\" \");\nfor (var i = 0; i < words.length; i++) {\n  var lowerCaseWord = words[i].toLowerCase();\n  if (!wordMap[lowerCaseWord]) {\n    wordMap[lowerCaseWord] = 1;\n  } else {\n    wordMap[lowerCaseWord] = wordMap[lowerCaseWord] + 1;\n  }\n}\nfor (var prop in wordMap) {\n  if( wordMap.hasOwnProperty( prop ) ) {\n    outputMsgs.push({payload:{word:prop,count:wordMap[prop]}});\n  }\n}\nreturn [outputMsgs];","outputs":1,"noerr":0,"x":313,"y":391,"wires":[["b06e2985.ad1248"]]},{"id":"a806aa9b.90ee28","type":"function","z":"81ad2d46.ce21a","name":"process colour value","func":"var colour = msg.payload;\ncolour = colour.replace('rgb(', '');\ncolour = colour.replace(')', '');\nmsg.payload =  colour;\nreturn msg;","outputs":1,"noerr":0,"x":345,"y":504,"wires":[[]]}]